<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main/top2.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>

        // 월 별 주문 수
        $(document).ready(function(){
            test("chartByMonth","/api/admin/order/chart/byMonth","Column");
        });

        // 주문상태 별 주문 수
        $(document).ready(function(){
            test("chartByState","/api/admin/order/chart/byState","Pie");
        });


        // 차트 타입 선택 함수@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        function selectChartType (type) {
            // Pie, Line, Column
            if(type=="Pie")
                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            else if (type=="Line")
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            else if (type=="Column")
                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            else if (type=="Bar")
                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            return chart;
        }

        // 차트 생성 함수 선언@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        // name = 클릭할 버튼 id
        // url = 데이터를 가져올 api 주소
        // type = 차트 타입
        function test (name, url, chartType) {
            //console.log("버튼 전 실행됨.")
            $("#"+name).click(function(){

                google.load('visualization', '1', {

                    'packages' : [ 'corechart' ]

                });

                google.setOnLoadCallback(drawChart2);
                // 차트 그리기 함수
                function drawChart2() {
                    //json 데이터 받아로기
                    // dataType : "json" 결과값이 json 형식
                    // async :false  비동기식 옵션을 끔(동기식)
                    // ajax 는 비동기식이다. 즉 기본값이 비동기식 true 이다
                    // 즉 차트가 그려지기 전에는 다른 작업은 하지 못한다.
                    //responseText  : 서버의 응답 텍스트
                    var jsonData = $.ajax({

                        url : url,

                        dataType : "json",

                        async : false

                    }).responseText;
                    //alert(jsonData);
                    //json 데이터를 데이터 테이블로 변환
                    var data = new google.visualization.DataTable(jsonData);

                    // 차트 그리기 (PieChart, LineChart, ColumnChart)
                    //var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                    var chart = selectChartType(chartType);

                    //draw(데이터, 옵션)
                    chart.draw(data, {
                        title: document.getElementById(name).value,
                        width : 1000,
                        height : 500
                    });

                }
            });
        }

    </script>
</head>
<body>
<div th:replace="/admin/chart/layout/chartHeader.html :: header"></div>
<div class="container">
    <br>
    <br>
    <br>
    <h1>주문 통계</h1>
    <br>
    <input type="button" id="chartByMonth" value="월별 주문 수">
    <input type="button" id="chartByState" value="배송상태에 따른 주문 수">

    <div id="chart_div" style="width: 900px; height: 500px"></div>
</div>
<div th:replace="/admin/layout/footer.html :: footer"></div>
</body>
</html>