@charset "EUC-KR";


* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}

html, body {
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "留??? 怨???", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}

@media (min-width: 768px) {
    html, body {
        font-size: 15px;
    }
}

.layout, .page, body, html {
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

header, footer, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button, [role=button], input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a * {
    border: none;
}

ol, ul {
    list-style: none;
}

fieldset, img {
    border: 0;
}




/*硫???*/

.layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

._3z82S {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1256px;
    padding: 0 60px;
    margin: 0 auto;
    box-sizing: border-box;
}

.p0PrG {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    box-sizing: border-box;
    max-width: 64%;
}

._3pPzh {
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    margin: 40px 0 20px;
}

._3oseG {
    margin-bottom: 50px;
}

._1cbjv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #eaebef;
}

._1NTS- {
    padding-bottom: 24px;
}

._1N__c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

._2UZdB, ._3X193 {
    margin: -3px;
    padding: 3px;
}

.checkout-container {
    width: auto;
    max-width: none;
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
}

@media (min-width: 375px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 30px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 768px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 80px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1024px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1256px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

._3Pp8n {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

._1_5Vk {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    text-align: right;
    padding-left: 11px;
    font-size: 15px;
    line-height: 20px;
    color: #292929;
    transition: opacity .25s;
}

._1_5Vk._2lC3t {
    color: #f77;
}

.bbqwt {
    overflow: hidden;
    margin: -3px;
    padding: 23px 3px 3px;
    box-sizing: border-box;
}

._1OHjy, .BenKu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.BenKu {
    padding: 8px 10px 8px 0;
}

._3cVfV {
    padding-top: 0;
}

._10zXy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 72px;
    font-size: 15px;
    line-height: 18px;
    color: #757575;
    white-space: pre-line;
    max-height: 40px;
    transition: color .25s;
}

/*._10zXy._2klPP {
    color: #f77;
}*/

._3cYTk {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    max-width: 270px;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "留??? 怨???", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

/*._2Zb2k {
    border: 1px solid #f77;
}*/

._1qwAY {
    padding: 8px 15px 9px;
}

.Ap00Z {
    max-width: 570px;
}

._3o6FJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}


._1yjw1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}

._3XFZl {
    width: 100%;
}

._3XFZl {
    width: 100%;
}

._2vleR, .iS9OT {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}

._2dWiv {
    min-width: 270px;
}


._1OHjy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #292929;
}

._1OHjy, .BenKu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}


.CgVRc {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

._3Bt8k {
    position: relative;
    display: inline-block;
    width: 100%;
}

._2vleR, .iS9OT {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}

._3Bt8k ._3K8Q8 {
    padding-right: 30px;
}

.IgBXR {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    pointer-events: none;
    color: #bdbdbd;
}



._2Z2K1 {
    display: flex;
}

._2ixif {
    position: relative;
    width: 85px;
    margin-right: 8px;
}

._2Z2K1 .yPMDv {
    color: #424242;
}

.UYZ4Z {
    flex: 1 0 0px;
}

.Qz9_5 {
    padding-top: 8px;
}


._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "留??? 怨???", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

._1eWD8 {
    /*-moz-user-select: -moz-none;*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR,Noto Sans CJK KR,챘짠??챙??? 챗쨀 챘????,Malgun Gothic,sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

._3SroY {
    background-color: #ed4a4a;
    border-color: #ed4a4a;
    color: #fff;
}

._3VwZT {
    padding: 11px 10px;
    min-height: 40px;
}

._3VwZT, ._16Bs1 {
    line-height: 18px;
    font-size: 15px;
}

._3QLQB {
    width: 100%;
}

._3Pp8n {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

._1_5Vk {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    text-align: right;
    padding-left: 11px;
    font-size: 15px;
    line-height: 20px;
    color: #292929;
    transition: opacity .25s;
}

._3NKjj {
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    color: #ed4a4a;
    transition: color .2s;
    border: none;
    font-weight: 700;
}

.css-nj6fnr-DeliveryRequestInput {
    padding: 20px 10px 0px 0px;
    max-width: 642px;
}

.hs9EY {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
}

.UB4oG {
    max-width: 270px;
}

._2wuTD {
    background-color: #fff;
    border-color: #ed4a4a;
    color: #ed4a4a;
}

._1h-CO {
    width: 85px;
    margin-right: 8px;
    font-size: 15px;
}

._3-Mek {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}

._2g2V7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}

._3ASDR:disabled {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #bdbdbd;
}

._3-Mek._3Nn4g:disabled {
    background-color: #fafafa;
    color: #292929;
    -webkit-text-fill-color: #292929;
    opacity: 1;
}

._1Q-tm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-top: 16px;
    font-size: 15px;
    color: #292929;
}

._3zqA8 {
    position: relative;
    display: inline-block;
    font-size: 0;
    padding: 9px;
}

._16q7s {
    margin: -9px 1px -9px -9px;
}

._3UImz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: inherit;
    opacity: 0;
    box-sizing: border-box;
}

._2mDYR {
    display: inline-block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    transition: color .1s,border-color .1s,background-color .1s;
}

._2UftR {
    width: 1em;
    height: 1em;
}

._2F5Kj {
    color: #f77;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    margin-top: 12px;
}

._2d_IE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin: 16px 0;
    color: #ed4a4a;
    transition: color .2s;
}

._2d_IE ._3PzVc {
    margin-left: 5px;
    width: 12px;
    height: 7px;
    transform: rotate(
            -90deg
    );
    fill: #ed4a4a;
}

.Ui16N {
    display: block;
    background-color: #f7f8fa;
    width: 100%;
    padding: 16px;
}

._2Y-Ih {
    margin: -9px;
}



._3UImz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: inherit;
    opacity: 0;
    box-sizing: border-box;
}



._1l-9U {
    padding-top: 2px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    margin-left: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #656e75;
}

._3KPKx {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #eaebef;
    margin-bottom: 16px;
}

._2uYBI {
    padding: 11px 16px 10px;
    background-color: #f7f8fa;
}

.XVdGS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

._3-gF9, ._3YZco {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    font-size: 14px;
    line-height: 19px;
    color: #424242;
}

._3-gF9 {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

._3-gF9, ._3YZco {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    font-size: 14px;
    line-height: 19px;
    color: #424242;
}

._3YZco {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
}

._2CuPx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaebef;
}

._2CuPx:last-of-type {
    border-bottom: 0;
}

._1Z1hI {
    border-radius: 4px;
    width: 64px;
    height: 64px;
    margin-right: 12px;
}

._5cZyM {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}

._1rZ6t {
    font-size: 15px;
    line-height: 18px;
    color: #292929;
    margin-bottom: 8px;
}

._3e4Nu {
    font-size: 13px;
    line-height: 16px;
    color: #757575;
}

._3e4Nu>li {
    position: relative;
    padding-left: 6px;
}

._3e4Nu>li:before {
    position: absolute;
    display: block;
    content: "?쨌";
    left: 0;
    font-size: 13px;
    line-height: 16px;
    color: #757575;
}

._3_Emc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-top: 11px;
}

._2_p5n {
    font-size: 14px;
    line-height: 17px;
    color: #292929;
    font-weight: 700;
}

._2T03R {
    margin: 0 8px;
    height: 12px;
    width: 1px;
    background-color: #eaebef;
}

._1Dwy0 {
    font-size: 13px;
    line-height: 16px;
    color: #757575;
}

._1_5Vk.Y6P6C {
    color: #757575;
}

.css-rk16u9-Container {
    position: relative;
    bottom: -3px;
    background-color: rgb(247, 248, 250);
    border-radius: 4px;
}

.css-10lqxsm-Header {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    height: 41px;
    cursor: pointer;
}

.css-10lqxsm-Header span {
    margin-right: 4px;
    font-size: 14px;
    line-height: 17px;
    color: rgb(164, 172, 179);
}

.css-1plwb2k-ArrowIcon {
    margin-right: 16px;
    transition: transform 0.2s ease 0s;
}


._2E4tc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    max-width: 322px;
}

._2g2V7._2LuZZ:disabled {
    background-color: #fafafa;
    border-color: #dbdbdb;
}

._1V1t- {
    margin-left: 8px;
}

._1eWD8:disabled {
    cursor: default;
}

._2wuTD:not(._36pnd)._326l9, ._2wuTD:not(._36pnd):disabled {
    background-color: #fff;
    border-color: #fcb6b6;
    color: #fcb6b6;
}

._4hX3z {
    font-size: 15px;
    line-height: 18px;
    color: #292929;
}

._3HMkK {
    margin-left: 5px;
    color: #ed4a4a;
    font-weight: 700;
}

._1pJIn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid #eaebef;
    border-left: 1px solid #eaebef;
}

._2oebd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    width: 12.5%;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border: 0;
    padding: 0 1px 5px 0;
    margin: 0;
    border-right: 1px solid #eaebef;
    border-bottom: 1px solid #eaebef;
    transition: background-color .2s;
    word-break: keep-all;
    cursor: pointer;
}

._2oebd ._1qLo2 {
    width: 60px;
    height: 60px;
    margin: 8px auto 4px;
}

._2oebd .WFEIe {
    font-size: 14px;
    line-height: 17px;
    color: #292929;
    margin-bottom: 3px;
    transition: font-weight .2s;
}

._2oebd._18EzB {
    padding: 0 0 4px;
    background-color: #ffecec;
    border-right: 2px solid #ed4a4a;
    border-bottom: 2px solid #ed4a4a;
}

._2oebd._18EzB:before {
    position: absolute;
    display: block;
    content: "";
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #ed4a4a;
    border-left: 2px solid #ed4a4a;
}

._2oebd ._1olMW {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    color: #ed4a4a;
}

._2d_-I {
    padding: 20px 0;
    margin: 0 16px;
}

@media (min-width: 768px) {
    ._2d_-I {
        margin-left: 0;
        margin-right: 0;
    }
}

._3FM7u {
    padding: 16px 20px;
    box-sizing: border-box;
    background-color: #f7f8fa;
}

._3FM7u ._29wsS {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #525b61;
}

._3FM7u ._3Ag58 {
    font-size: 13px;
    line-height: 20px;
    color: #656e75;
}

/*?④?*/

._1-dUw {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 6px 6px calc(env(safe-area-inset-bottom) + 6px);
}

@media (min-width: 1024px) {
    ._1-dUw {
        display: none;
    }
}

/*寃곗??李?*/

._18aQ- {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    max-width: 36%;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
}

._17uZq {
    transition: top .1s ease 0s;
}

._380vz {
    padding-top: 40px;
}

._1XSgE {
    border-radius: 4px;
    border: 1px solid #eaebef;
    box-shadow: 0 2px 3px rgb(234 235 239 / 40%);
}

._1BWlf {
    padding: 20px 24px 23px;
    box-sizing: border-box;
}

._1yha3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

._3CAac {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 8px;
}

._2SFk1 {
    width: 100px;
    font-size: 15px;
    line-height: 22px;
    color: #757575;
}


._3IGoe {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #292929;
    font-family: Tahoma,sans;
}

._3k3pP {
    font-weight: 700;
}

._1Nffa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #eaebef;
    padding-top: 19px;
}


._2CIyZ {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    width: 150px;
    font-size: 18px;
}

._1TYIO, ._2CIyZ {
    line-height: 27px;
    font-weight: 700;
    color: #000;
}

._1TYIO {
    font-size: 22px;
    text-align: right;
}

.kUAhq {
    color: #ed4a4a;
    font-family: Tahoma,sans;
}

._3bTpP {
    margin-top: 6px;
    font-weight: 400;
    color: #424242;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
}

._11DAx {
    font-weight: 700;
    font-family: Tahoma,sans;
}


._1WDOn {
    background-color: #f7f8fa;
    padding: 12px 24px 0;
}

._2bgXR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-right: -12px;
}


._1aYv1, ._3Jkwr {
    font-size: 13px;
    line-height: 16px;
    color: #656e75;
}


._3Jkwr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 0;
    border-top: 1px solid #eaebef;
    margin: 12px 0;
    padding: 12px 0 0;
    background-color: transparent;
    text-align: left;
    line-height: 16px;
    word-break: keep-all;
}

._3Jkwr ._2Ci3B {
    fill: #828c94;
    width: 13px;
    height: 16px;
    transition: transform .2s;
    margin-left: auto;
}



._1mEF0 {
    margin: 0 -24px;
}

._1aYv1 {
    padding-bottom: 16px;
}

._1aYv1, ._3Jkwr {
    font-size: 13px;
    line-height: 16px;
    color: #656e75;
}

._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}

._3Bxwj {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgb(53 197 240 / 20%);
}



















