@charset "EUC-KR";

body {
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}

.noDeco{
    text-decoration:none
}


.layout-navigation-bar{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.layout-navigation-primary-wrap{
    margin: 0;
    padding: 0;
}

.layout-navigation-primary {
    transition: top .1s;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 502;
}


.layout-navigation-primary__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    height: 60px;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 auto;
}
@media (min-width: 768px){
    .layout-navigation-primary__content {
        height: 80px;
        padding: 10px 40px;
        max-width: 1256px;
    }
}

@media (min-width: 768px){
    .layout-navigation-primary__left {
        position: static;
        margin-right: 35px;
        transform: none;
    }
}
.layout-navigation-primary__left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    top: 50%;
    left: 50%;
    font-size: 0;
}

@media (min-width: 768px){
    .layout-navigation-primary__menu {
        display: block;
    }
}
.layout-navigation-primary__menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: none;
}


.layout-navigation-logo {
    display: inline-block;
    margin: -4px;
    padding: 4px;
}

.layout-navigation-primary__menu__item--active, .layout-navigation-primary__menu__item--open {
    color: #35c5f0;
}
.layout-navigation-primary__menu__item {
    position: relative;
    display: inline-block;
    margin: 6px 10px 0;
    padding: 14px 6px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
}

@media (min-width: 768px){
    .layout-navigation-primary__right {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        position: static;
    }
}
.layout-navigation-primary__right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 8px;
}

<!-- 검색창 -->

@media (min-width: 1024px){
    .layout-navigation-bar-search {
        display: block;
    }
}
.layout-navigation-bar-search {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 266px;
    -moz-box-flex: 0;
    -moz-flex: 0 1 266px;
    -ms-flex: 0 1 266px;
    flex: 0 1 266px;
    display: block;
    margin: 13px 10px 7px 0;
    min-width: 0;
}

.layout-navigation-search {
    position: relative;
}

.layout-navigation-search__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-navigation-search__combobox {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.layout-navigation-search__input {
    position: relative;
}

.layout-navigation-search__input input[type=text].layout-navigation-search__input__text {
    border-radius: 4px;
}
input[type='number'], input[type='text'], input[type='password'], input[type='file'], input[type='tel'], input[type='email'], select, option, textarea, input[type='submit'], button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.layout-navigation-search__input__text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 9px 10px 39px;
    font-family: inherit;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
    color: #424242;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    transition: background-color .1s;
}


@media (min-width: 768px){
    .layout-navigation-bar-icon {
        margin: 15px 1.5px 9px;
    }
}
.layout-navigation-bar-icon {
    /*-moz-user-select: -moz-none;*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    margin: 7px 1px;
    padding: 6px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: background .1s;
    border-radius: 100%;
}

@media (min-width: 768px){
    .layout-navigation-bar-login {
        display: inline-block;
    }
}
.layout-navigation-bar-login {
    margin: 20px -9px 16px -7px;
    white-space: nowrap;
}

.layout-navigation-bar-login__item {
    position: relative;
    display: inline-block;
    margin: 0 9px 0 8px;
    padding: 2px;
    color: #757575;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}


<!-- 마이페이지 버튼 -->
@media (min-width: 768px){
    .layout-navigation-bar-upload-button.drop-down {
        display: inline-block;
    }
}
.layout-navigation-bar-upload-button.drop-down {
    display: block;
    margin: 14px 0 0 10px;
}
.drop-down {
    position: relative;
    display: inline-block;
}

.layout-navigation-bar-upload-button__button {
    display: inline-block;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    width: 85px;
    box-sizing: border-box;
    padding: 8px 0 10px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #ed4a4a;
    border-radius: 4px;
    transition: background-color .1s;
}

<!-- 두번째 서브 메뉴 -->
.layout-navigation-secondary-wrap{
    margin: 0;
    padding: 0;
}

.layout-navigation-secondary {
    transition: top .1s;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 501;
}

.layout-navigation-secondary__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    min-height: 49px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: auto;
}
@media (min-width: 768px){
    .layout-navigation-secondary__content {
        min-height: 49px;
        max-width: 1256px;
    }
}

.layout-navigation-secondary__menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    padding: 0 4px;
    min-width: 0;
    white-space: nowrap;
    font-size: 0;
}
@media (min-width: 768px){
    .layout-navigation-secondary__menu {
        padding: 0 0 0 40px;
        margin: 0 8px 0 -12px;
        text-align: left;
    }
}
@media (min-width: 1024px){
    .layout-navigation-secondary__menu {
        padding: 0 0 0 60px;
    }
}

.layout-navigation-secondary__menu__item--active, .layout-navigation-secondary__menu__item--open {
    color: #35c5f0;
}
@media (min-width: 768px){
    .layout-navigation-secondary__menu__item {
        font-size: 15px;
        line-height: 23px;
        margin: 8px 4px;
        padding: 6px 8px 4px;
        color: #424242;
    }
}
.layout-navigation-secondary__menu__item {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    font-family: inherit;
    font-weight: 700;
    margin: 6px 4px;
    padding: 8px 4px 7px;
    border: none;
    background: none;
    color: #424242;
    cursor: pointer;
    vertical-align: bottom;
}
