.review-my-home__search {
    margin: 30px 0
}

.review-my-home__search__title {
    font-size: 18px;
    font-weight: 700
}

.review-my-home__search__form {
    margin-top: 15px
}

.review-my-home__search__form__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.review-my-home__search__form__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    height: 40px;
    line-height: 40px;
    font-size: 15px
}

.review-my-home__search__form__button {
    margin-left: 8px;
    width: 84px
}

@media (min-width: 768px) {
    .review-my-home__search__form__button {
        width: 120px
    }
}

.review-my-home__search__product-list {
    height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-top: 0
}

.review-my-home__search__product-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 0 16px;
    height: 80px;
    cursor: pointer;
    border-bottom: 1px solid #dadce0
}

.review-my-home__search__product-list__item:hover {
    background-color: #e5f9ff
}

.review-my-home__search__product-list__item__image {
    width: 60px;
    height: 60px;
    margin-right: 12px
}

.review-my-home__search__product-list__item__info {
    width: 100%;
    overflow-x: hidden
}

.review-my-home__search__product-list__item__info__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 4px
}

.review-my-home__search__product-list__item__info__brand {
    color: #828c94;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 1
}

.review-my-home__search__product-list__item__info__type {
    color: #c2c7cc;
    padding-left: 12px;
    min-width: 68px;
    text-align: right
}

.review-my-home__search__product-list__item__info__name {
    color: #424242;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 2
}

.review-my-home__search__product-list__no-product {
    height: 220px;
    width: 100%;
    line-height: 220px;
    text-align: center
}

.review-my-home__review-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    color: #292929;
    margin-bottom: 18px
}

@media (min-width: 768px) {
    .review-my-home__review-list__item {
        margin-bottom: 22px
    }
}

.review-my-home__review-list__item__image {
    border-radius: 4px;
    width: 70px;
    height: 70px
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__image {
        width: 86px;
        height: 86px
    }
}

.review-my-home__review-list__item__wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    margin-left: 12px
}

.review-my-home__review-list__item__wrap > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all
}

.review-my-home__review-list__item__wrap__brand {
    font-size: 12px;
    line-height: 1.3;
    color: #828c94;
    margin-bottom: 4px;
    -webkit-line-clamp: 1
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__wrap__brand {
        font-size: 13px
    }
}

.review-my-home__review-list__item__wrap__name {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 700;
    color: #424242;
    margin-bottom: 4px;
    -webkit-line-clamp: 2
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__wrap__name {
        font-size: 15px
    }
}

.review-my-home__review-list__item__wrap__option {
    font-size: 12px;
    line-height: 1.3;
    color: #424242;
    margin-bottom: 4px;
    -webkit-line-clamp: 1
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__wrap__option {
        font-size: 14px
    }
}

.review-my-home__review-list__item__wrap__delivery-info {
    font-size: 11px;
    line-height: 1.3;
    font-weight: 700;
    color: #9a112c;
    -webkit-line-clamp: 1
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__wrap__delivery-info {
        font-size: 13px
    }
}

.review-my-home__review-list__item__review-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin-left: 10px;
    height: 70px
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__review-btn {
        height: 86px
    }
}

.review-my-home__review-list__item__review-btn__button {
    font-size: 15px;
    width: 84px
}

@media (min-width: 768px) {
    .review-my-home__review-list__item__review-btn__button {
        width: 120px
    }
}

.review-my-home__review-list__item__review-btn__from {
    font-size: 13px;
    line-height: 19px;
    color: #9e9e9e;
    text-align: center;
    font-weight: 700;
    margin-bottom: 4px
}