<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원 관리 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main/top2.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>

        function updateMember(no){
            location.href = "/admin/member/update/" + no;
        }

        function searchMember(){
           let type = document.getElementById('searchType').value;
           let keyword = document.getElementById('searchKeyword').value;

           if((type == null || type == '')&&(keyword == null || keyword == '')){
               alert('검색 종류와 검색 키워드를 입력해 주세요.');
               return false;
           }else if(type == null || type ==''){
               alert('검색 종류를 선택해 주세요.');
               return false;
           }else if(keyword == null || keyword == ''){
               alert('검색 키워드를 입력해 주세요.');
               return false;
           }

            document.getElementById('memberSearchFrm').submit();
        }
    </script>

</head>
<body>
<div th:replace="/admin/layout/header_admin.html :: header"></div>

<div class="container">
    <h2>회원관리페이지</h2>
    <br>
    <div>
        <form id="memberSearchFrm" th:action="@{/admin/member(currentPageNo=${criteria.currentPageNo})}" accept-charset="UTF-8" method="get">
            <select name="searchType" id="searchType">
                <option selected value="" th:selected="${criteria.searchType == null}">선택해주세요.</option>
                <option value="search_accountId" th:selected="${criteria.searchType == 'search_accountId'}">아이디</option>
                <option value="search_memberName" th:selected="${criteria.searchType == 'search_memberName'}">이름</option>
                <option value="search_memberEmail" th:selected="${criteria.searchType == 'search_memberEmail'}">이메일</option>
                <option value="search_memberLevel" th:selected="${criteria.searchType == 'search_memberLevel'}">레벨</option>
            </select>
            <input type="text" name="searchKeyword" id="searchKeyword" th:attr="value=${criteria.searchKeyword}">
            <button onclick="searchMember()">검색</button>
        </form>
    </div>
    <br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>회원권한</th>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>등록날짜</th>
            <th>주소</th>
            <th>생년월일</th>
            <th>포인트</th>
            <th>레벨</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
<!--        <th>-->
            <tr th:each="member : ${memberDtos}">
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.role}"></td>
                <td th:text="${member.accountId}"></td>
                <td th:text="${member.memberPassword}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.telephone}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.createdDate}"></td>
                <td th:text="${member.address}"></td>
                <td th:text="${member.birthdate}"></td>
                <td th:text="${member.point}"></td>
                <td th:text="${member.gradeId}"></td>
                <td><button th:onclick="updateMember([[${member.memberId}]])">수정</button></td>
                <td><button>삭제</button></td>
<!--            </tr>-->
        </th>
        </tbody>
    </table>

    <div class="paging">
        <ul class="pagination">
            <!--이전  버튼-->
            <th:block th:if="${pageMaker.hasPreviousPage}">
                <li class="page-item">
                    <a class ="page-link" id="Previous"  th:href="@{/admin/member(currentPageNo=${pageMaker.firstPage} - 1, reply=${reply},orderType=${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" tabindex="-1">Prev</a>
                </li>
            </th:block>



            <!--페이지 번호-->
            <th:block th:each="page: ${#numbers.sequence(pageMaker.firstPage,pageMaker.lastPage)}">
                <li class="page-item" th:classappend="${criteria.currentPageNo == page} ?'active':''"
                    th:attr="id=${criteria.currentPageNo == page} ? 'pageActive' : 'pageNoActive'" >
                    <a class ="page-link" id="pageNum"  th:href="@{/admin/member(currentPageNo=${page}, searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" th:text="${page == 0 ? '': page}" ></a>
                </li>
            </th:block>


            <!--다음 버튼-->
            <th:block th:if="${pageMaker.hasNextPage}">
                <li class="page-item" >
                    <a class ="page-link" id="Next" th:href="@{/admin/member(currentPageNo=${pageMaker.lastPage} + 1, searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword} )}"  tabindex="-1">Next</a>
                </li>
            </th:block>

        </ul>
    </div>

</div>

<div th:replace="/admin/layout/footer.html :: footer"></div>


</body>
</html>