<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>상품관리페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main/top2.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function deleteProduct(no, productTitle){
            if(!confirm("정말로 상품 \""+productTitle+"\"를 삭제하시겠습니까?")){
                alert("상품 삭제를 취소하셨습니다.");
            }else{
                location.href = "/admin/product/delete/" + no;
                alert("상품을 삭제하였습니다.");
            }

        }

        function updateProduct(no){
            location.href = "/admin/product/update/" + no;

        }

        function searchBtn(){
            var query1 = document.getElementById("query1").value;
            var data = document.getElementById("search").value;
            console.log("query1 : " + query1 + ", data = " + data);
            location.href = "/admin_product?query1=" + query1 + "&data=" + data;
        }
    </script>
</head>
<body>
<div th:replace="/admin/layout/header_admin.html :: header"></div>

<div class="container">
    <h2>상품관리페이지</h2>
    <br>
    <div>
        <select name="query1" id="query1">
            <option selected value="" >선택해주세요</option>
            <option value="제품번호">제품번호</option>
            <option value="제품이름">제품이름</option>
        </select>
        <select name="query2">
            <option selected value="카테고리타입" >카테고리타입</option>
            <option value="노래방">노래방</option>
            <option value="도서관">도서관</option>
            <option value="오피스">오피스</option>
            <option value="영화관">영화관</option>
            <option value="카페">카페</option>
            <option value="헬스장">헬스장</option>
            <option value="pc방">pc방</option>
        </select>
        <select name="query3">
            <option selected value="제품타입" >제품타입</option>
            <option value="기타">기타</option>
            <option value="책상">책상</option>
            <option value="의자">의자</option>
            <option value="옷장">옷장</option>
            <option value="침대">침대</option>
        </select>
        <input type="text" name="search" id="search">
        <button onclick="searchBtn()">검색</button>
        <button onclick="registProduct()">등록</button>
    </div>
    <br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>제품번호</th>
            <th>제품이름</th>
            <th>제품사진</th>
            <th>제품가격</th>
            <th>재고량</th>
            <th>제품타입번호</th>
            <th>카테고리번호</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${productDtos}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productTitle}"></td>
                <td th:text="${product.productImg}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productQuantity}"></td>
                <td th:text="${product.productThemeId}"></td>
                <td th:text="${product.productCategoryId}"></td>
                <td><button th:onclick="updateProduct([[${product.productId}]])">수정</button></td>
                <td><button th:onclick="deleteProduct([[${product.productId}]],[[${product.productTitle}]])">삭제</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="/admin/layout/footer.html :: footer"></div>
</body>
</html>