<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/top2.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

</head>
<body>
<div th:replace="/admin/layout/header_admin.html :: header"></div>
<div class="container">
    <br>
    <br>
    <br>
    <h1>관리자 페이지입니다.</h1>
    <br>
    <br>
    <br>
    <h1>관리 항목을 선택해 주세요.</h1>
    <br>
    <br>
    <br>
</div>

<div th:replace="/admin/layout/footer.html :: footer"></div>


</body>
</html>


