<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>오늘 시작하는 인테리어, 오늘의집</title>

    <link rel="stylesheet" type="text/css" href="/css/order/common_mypage.css"/>
    <link rel="stylesheet" type="text/css" href="/css/order/my_orders.css"/>
    <link rel="stylesheet" type="text/css" href="/css/order/paging.css"/>
    <meta name="description" content="No.1 인테리어 필수앱. 1000만 회원 집 구경하고, 궁금했던 제품 정보 확인부터 구매까지 한 번에!">

</head>
<body>
<th:block th:include="/fragments/top.html"></th:block>
<!--마이페이지 배너-->
<div class="myhome-nav myhome-nav--owner">
    <nav class="page-navigation myhome-nav__owner">
        <ul style="transform: translateX(0px);">
            <li class="page-navigation__item item1"><a class="" href="/mypage" target="_self">프로필</a></li>
            <li class="page-navigation__item item2"><a class="active" href="/mypage/orders" target="_self">나의 쇼핑</a></li>
            <li class="page-navigation__item item3"><a class="" href="/mypage/review/list" target="_self">나의 리뷰</a></li>
            <li class="page-navigation__item item4"><a class="" href="/update" target="_self">회원정보 수정</a></li>
        </ul>
    </nav>
    <nav class="page-navigation myhome-nav__contents">
        <ul style="transform: translateX(0px);">
            <li class="page-navigation__item item5"><a class="active" href="/mypage/orders" target="_self">주문내역 확인</a></li>
            <li class="page-navigation__item item6"><a class="" href="/users/13093528/projects" target="_self">내가 쓴 글</a></li>
        </ul>
    </nav>
</div>
<!--마이페이지 배너 끝-->
<div class="order-list container">
    <div class="order-list__content">
        <div class="review-my-home__search">
            <div class="review-my-home__search__title">주문내역</div>
        </div>

        <!--구매내역 반복-->
        <section class="css-12lzt4u-List e1yy3fi630" th:each="order:${orderList}">
            <div class="css-1l0e9nh-Header e1yy3fi629">
                <div class="css-1q29q5y-HeaderTitle e1yy3fi628" id="orderTime" th:text="${order.orderNumber}+' | '+${order.orderDate}">
                    57244440 | 2021.05.14
                </div>
                <a class="css-1mhf76m-HeaderLink e1yy3fi627" href="/orders/57244440"
                   th:href="@{/mypage/orders/{orderId}(orderId=${order.orderId})}">상세보기</a></div>

                <div>
                    <div class="css-92bd9c-Item e1yy3fi626">
                        <a th:href="@{${'/product/detail?productId='+order.productId}}">
                            <div class="css-1ih37x6-Content e1yy3fi625">
                                <picture>
                                    <img class="css-1gfeya1-ProductImage e1yy3fi624"
                                         th:href="@{${'/product/detail?productId='+order.productId}}"
                                         th:src="@{${'/display?fileName='+order.productMainImage}}">
                                </picture>
                                <div class="css-1typuwb-Explain e1yy3fi623">
                                    <div class="css-lx7s3c-ExplainWrap e1yy3fi622 e1yy3fi622_title">
                                        <a class="css-1nto2s9-ProductNameLink e1yy3fi620"
                                           th:href="@{${'/product/detail?productId='+order.productId}}"
                                           href="/productions/324144/selling" th:text="${order.productTitle}">[기간한정]
                                            글린 LED 3단 서랍침대 매트포함 (SS/Q) 4colors</a>
                                        <div class="css-1c7n34t-ProductDelivery e1yy3fi617"
                                             th:text="${order.orderState}" style="padding-top:10px">구매확정
                                        </div>
                                    </div>
                                    <div class="css-lx7s3c-ExplainWrap e1yy3fi622 e1yy3fi622_quantity">
                                        <!--<div class="css-1u68l27-ProductOption e1yy3fi619">선택: 슈퍼싱글(SS)+필로우탑60T / 색상: 오크
                                        </div>-->
                                        <div class="css-1fnh3w3-ProductPriceAndCount e1yy3fi618 e1yy3fi618_price"
                                             th:text="'가격 : '+${order.orderUnitPrice}+'원'">349,000원 | 1개
                                        </div>
                                        <div class="css-1fnh3w3-ProductPriceAndCount e1yy3fi618"
                                             th:text="'수량 : '+${order.orderProductQuantity}+'개'">349,000원 | 1개
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="css-d2162a-ProductActions e1yy3fi615">
                        </div>
                    </div>
                </div>
        </section>


        <!-------페이징 -------->
        <div class="paging">
            <ul class="pagination">
                <!--이전  버튼-->
                <th:block th:if="${pageMaker.hasPreviousPage}">
                    <li class="page-item">
                        <a class="page-link" id="Previous"
                           th:href="@{/order/list(currentPageNo=${pageMaker.firstPage} - 1)}" tabindex="-1">Prev</a>
                    </li>
                </th:block>
                <!--페이지 번호-->
                <th:block th:each="page: ${#numbers.sequence(pageMaker.firstPage,pageMaker.lastPage)}">
                    <li class="page-item" th:classappend="${pageMaker.criteria.currentPageNo == page} ?'active':''"
                        th:attr="id=${pageMaker.criteria.currentPageNo == page} ? 'pageActive' : 'pageNoActive'">
                        <a class="page-link" id="pageNum" th:href="@{/mypage/orders(currentPageNo=${page})}"
                           th:text="${page}"></a>
                    </li>
                </th:block>
                <!--다음 버튼-->
                <th:block th:if="${pageMaker.hasNextPage}">
                    <li class="page-item">
                        <a class="page-link" id="Next"
                           th:href="@{/mypage/orders(currentPageNo=${pageMaker.lastPage}+1)}" tabindex="-1">Next</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>
</body>
</html>