<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- header start -->
<header>
    관리자 님 환영합니다<br>
    <a href="/admin/member">회원관리페이지</a>
    <a href="/admin/product">상품관리페이지</a>
    <a href="/admin/order">주문관리페이지</a>
    <a href="/admin/qna">문의관리페이지</a>
</header>
</body>
</html>

<!-- header end -->