<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/community/community_list.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>


<div id="questions-index-page">
    <section id="questions-header">
        <div class="container">
            <div class="questions-header__title">
                <h1 class="text-heading-1 text-black bold">질문과 답변</h1>
                <p class="text-caption-1">레드홈 인테리어 고수들과 전문가들에게 조언을 받으세요.</p>
            </div>
            <form id="questions-header__form" class="sticky-top"
                  th:action="@{/community/list(currentPageNo=${criteria.currentPageNo})}"  accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <div class="sticky-content">
                    <div class="questions-header__form__wrap row">
                        <div class="questions-header__form__search col">
                            <div class="questions-header__form__search__input">
                                <select id="questionCategory_filters"  name="searchType"  onchange="" >
                                    <option class="filter-select__list__entry"   value="" th:selected="${criteria.searchType == null}">선택하세요</option>
                                    <option class="filter-select__list__entry " value="search_communityTitle" th:text="제목"  th:selected="${criteria.searchType == 'search_communityTitle'}" />
                                    <option class="filter-select__list__entry" value="search_communityContents" th:text="내용" th:selected="${criteria.searchType == 'search_communityContents'}"/>
                                    <option class="filter-select__list__entry" value="search_memberId" th:text="아이디" th:selected="${criteria.searchType == 'search_memberId'}"/>
                                </select>
                                <img src="/img/redhome_search.PNG"
                                     style="position: absolute; padding-top: 21px; padding-left: 21px;" class="searchBtn" onclick="search()">
                                <input type="text" name="searchKeyword"
                                       id="questions-header__form__search" th:attr="value=${criteria.searchKeyword}"
                                       class="form-control" placeholder="궁금한 것을 검색해보세요."
                                       autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>



<section id="questions-filter" class="sticky-top" >
    <div class="questions-filter__content container">
        <div class="questions-filter__filters">
            <div class="filter-select" id="questions-filter-sort" data-modal-id="questions-filter-sort-modal">
                <dl class="filter-select__header" role="button" onclick="showSort()" ondblclick="hideSort()">
                    <dt class="filter-select__header__name">
                        정렬<span class="icon icon-pointer-angle-down-dark-sm"></span>
                    </dt>
                    <th:block th:if="${orderType != 'mostPopular' }">
                        <dd class="filter-select__header__value" th:text="${orderType != 'newComment'}?'최신순': '최근 답변순'"></dd>
                    </th:block>
                    <th:block th:if="${orderType == 'mostPopular' }">
                        <dd class="filter-select__header__value" th:text="인기순"></dd>
                    </th:block>

                </dl>
                <ul class="filter-select__list" id="filter-select__list" >
                    <li class="filter-select__list__entry" th:classappend="${orderType != 'newComment' and orderType != 'mostPopular'} ?'active':''" >
                    <a class="filter-select__list_newCommunity sort"  th:href="@{/community/list(currentPageNo=1, reply=${reply}, orderType='newCommunity', searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}"  th:id="${orderType != 'newComment' and orderType != 'mostPopular'} ?'activeList':'notactiveList1'" onmouseover="newCommunityFocus()" >최신순</a>
                    </li>
                    <li class="filter-select__list__entry" th:classappend="${orderType == 'newComment'} ?'active':''"  >
                    <a class="filter-select__list_newComment sort" th:href="@{/community/list(currentPageNo=1, reply=${reply}, orderType='newComment', searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" th:id="${orderType == 'newComment'} ?'activeList':'notactiveList2'" onmouseover="newCommentFocus()">최근 답변순</a>
                    </li>
                    <li class="filter-select__list__entry" th:classappend="${orderType == 'mostPopular'} ?'active':''" >
                        <a class="filter-select__list_mostPopular sort" th:href="@{/community/list(currentPageNo=1, reply=${reply}, orderType='mostPopular', searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" th:id="${orderType == 'mostPopular'} ?'activeList':'notactiveList3'" onmouseover="mostPopularFocus()">인기순</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="questions-filter__actions">
            <th:block th:if="${reply == 'not_yet'}">
                    <button class="set-reply btn btn-normal btn-sm" id="not_yet" th:href="@{/community/list(currentPageNo=1, reply='replyState_all', orderType =${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" style="color: white; background-color: #ed4a4a; width: 210px;" onclick="reply(this)"> ⅴ 답변을 기다리는 질문</button>
            </th:block>
            <th:block th:if="${reply != 'not_yet'}">
                    <button class="set-reply btn btn-normal btn-sm" id="replyState_all" th:href="@{/community/list(currentPageNo=1, reply='not_yet', orderType =${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" onclick="reply(this)">답변을 기다리는 질문</button>
            </th:block>
            <button class="questions-filter__actions__new-question btn btn-priority btn-sm"  onclick="loginCheck()">질문하기</button>
        </div>




    </div>
    </div>
</section>




<section id="questions-notice-list" class="container">
    <ol class="questions-notice-list__list">
        <li class="questions-notice-list__list__entry">
            <a href="#" style="text-decoration: none;">
                <span class="title text-body-1" >📢 &nbsp 레드홈 공지사항</span>
            </a>
        </li>
        <li class="questions-notice-list__list__entry">
            <a href="/faq?questionType=all" style="text-decoration: none;">
                <span class="title text-body-1"  >📢 &nbsp FAQ&nbsp(자주 묻는 질문) </span>
            </a>
        </li>
    </ol>
</section>





<section id="questions-list" class="container">
    <th:block th:each= "community : ${communityList}" >
        <a class="questions-item__link" th:href="@{/community/detail(communityId=${community.communityId}, currentPageNo=${criteria.currentPageNo}, reply=${reply},orderType=${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword}, commentCurrentPage =1)}"  >
            <article class="questions-item">
                <th:block th:if="${community.communityImg ne null }">
                    <div class="questions-item__image">
                        <div class="image-wrap square">
                            <img th:src="@{${'/fileUpload/community/uploadCommunityImg/'+community.communityImg}}">
                        </div>
                    </div>
                </th:block>


                        <h1 class="questions-item__title text-heading-5 bold text-black"th:text="'<'+ ${community.communityId} + '> '+ ${community.communityTitle}"></h1>
                        <p class="questions-item__content text-caption-1" th:text="${community.communityContents}"></p>
                <footer class="questions-item__footer">
            <span class="questions-item__footer__author">
                <span class="questions-item__footer__author__content text-caption-1" th:text="${community.accountId}"></span>
            </span>
                    <span class="questions-item__footer__meta text-caption-1">
              <time datetime="2021-05-04T13:16:13+09:00" class="questions-item__footer__date text-gray" th:text="${#temporals.format(community.communityCreatedDate,'yyyy-MM-dd HH:mm:ss') }"></time>
              <!--<span class="questions-item__footer__comments text-gray" th:text="${community.communityState}"></span>-->
              <span class="questions-item__footer__comments text-gray">
                댓글
              <span class="questions-item__footer__comments__content " th:text="${community.commentCnt}" th:style="${community.commentCnt > 0 ? 'color:#ed4a4a;':''}" th:styleappend="${community.commentCnt > 0 ? 'font-weight: bold;':''}"/>


              </span>
              <span class="questions-item__footer__views text-gray" >
                  조회
                <span class="questions-item__footer__views__content" th:text="${community.communityHit}"/>
              </span>
              </span>

                </footer>
            </article>
        </a>
        </th:block>
</section>

     <input type="hidden"  id="memberId" th:value="${member == null ? null : member.memberId}  "/>



<div class="paging">
    <ul class="pagination">
        <!--이전  버튼-->
        <th:block th:if="${pageMaker.hasPreviousPage}">
            <li class="page-item">
                <a class ="page-link" id="Previous"  th:href="@{/community/list(currentPageNo=${pageMaker.firstPage} - 1, reply=${reply},orderType=${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" tabindex="-1">Prev</a>
            </li>
        </th:block>



       <!--페이지 번호-->
        <th:block th:each="page: ${#numbers.sequence(pageMaker.firstPage,pageMaker.lastPage)}">
        <li class="page-item" th:classappend="${criteria.currentPageNo == page} ?'active':''"
            th:attr="id=${criteria.currentPageNo == page} ? 'pageActive' : 'pageNoActive'" >
            <a class ="page-link" id="pageNum"  th:href="@{/community/list(currentPageNo=${page}, reply=${reply},orderType=${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword})}" th:text="${page == 0 ? '': page}" ></a>
        </li>
        </th:block>


        <!--다음 버튼-->
        <th:block th:if="${pageMaker.hasNextPage}">
            <li class="page-item" >
                <a class ="page-link" id="Next" th:href="@{/community/list(currentPageNo=${pageMaker.lastPage} + 1, reply=${reply},orderType=${orderType} , searchType=${criteria.searchType}, searchKeyword=${criteria.searchKeyword} )}"  tabindex="-1">Next</a>
            </li>
        </th:block>

    </ul>
</div>



<script>


    function loginCheck(){

        let memberId = document.getElementById("memberId").value;
        if(memberId == null || memberId == ''){
            alert('로그인 후 커뮤니티 글 작성이 가능합니다.');
            location.href ='/login';
        }else{
            location.href='/community/add';
        }


    }



    function reply(){

        let reply = document.getElementsByClassName("set-reply")[0].id;
        let href = document.getElementById(reply).getAttribute('href');
        location.href=href;

    }


    function showSort(){

        let sort =  document.getElementById("filter-select__list");

        sort.style.visibility='visible';
        sort.style.opacity='1';
        sort.style.transform='none';
        sort.style.top='400px';
        sort.style.left='290px';

    }

    function hideSort(){
        let sort =  document.getElementById("filter-select__list");
        sort.style.visibility='hidden';
        sort.style.opacity='0';

    }


  function newCommunityFocus(){
      let sort = document.getElementsByClassName("sort")[0].id;
          document.getElementById(sort).style.backgroundColor='#ed4a4a';
          document.getElementById(sort).style.color='white';


      document.getElementById(sort).addEventListener('mouseout', function (){

          if(sort == 'activeList'){
              document.getElementById(sort).style.backgroundColor='white';
              document.getElementById(sort).style.color='#ed4a4a';


          }else{
              document.getElementById(sort).style.backgroundColor='white';
              document.getElementById(sort).style.color='#424242';
          }

      });

  }

    function newCommentFocus(){
        let sort = document.getElementsByClassName("sort")[1].id;
        document.getElementById(sort).style.backgroundColor='#ed4a4a';
        document.getElementById(sort).style.color='white';


        document.getElementById(sort).addEventListener('mouseout', function (){

            if(sort == 'activeList'){
                document.getElementById(sort).style.backgroundColor='white';
                document.getElementById(sort).style.color='#ed4a4a';


            }else{
                document.getElementById(sort).style.backgroundColor='white';
                document.getElementById(sort).style.color='#424242';
            }

        });

    }



    function mostPopularFocus(){
        let sort = document.getElementsByClassName("sort")[2].id;
        document.getElementById(sort).style.backgroundColor='#ed4a4a';
        document.getElementById(sort).style.color='white';


        document.getElementById(sort).addEventListener('mouseout', function (){

            if(sort == 'activeList'){
                document.getElementById(sort).style.backgroundColor='white';
                document.getElementById(sort).style.color='#ed4a4a';


            }else{
                document.getElementById(sort).style.backgroundColor='white';
                document.getElementById(sort).style.color='#424242';
            }

        });

    }


   function search(){

     let type = document.getElementById('questionCategory_filters').value;
     let keyword = document.getElementById('questions-header__form__search').value;

     if((type == null || type =='')&&(keyword == null || keyword == '')) {
         alert('검색 종류와 검색 키워드를 입력해 주세요.');
         return false;
     }else if(type == null || type ==''){
         alert('검색 종류를 선택해 주세요.');
         return false;
     }else if(keyword == null || keyword == ''){
         alert('검색 키워드를 입력해 주세요.');
         return false;
     }

       document.getElementById('questions-header__form').submit();
   }



</script>

</body>
</html>