<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/cart/cart.css"/>
    <script src="../../static/js/cart/clickListener.js"></script>


</head>
<body>

<!-- 페이지 상단 -->
<th:block th:include="/fragments/top.html"></th:block>

<div class="layout">
    <div class="commerce-cart-wrap">
        <form method="post" th:action="@{/cart/payment}">
            <div class="container">
                <div class="commerce-cart row">
                    <div class="commerce-cart__content-wrap col-12 col-md-7 col-lg-8">
                        <div class="commerce-cart__content" >
                            <div data-sticky-enabled="false" data-sticky-disabled="true" data-sticky-always="false"
                                 data-sticky-ignore="true" data-direction="top" data-offset="81"
                                 class="sticky-container commerce-cart__header-wrap" style="">
                                <div class="sticky-child commerce-cart__header" style="position: relative">
                                    <span class="commerce-cart__header__left">
                                        <label class="_3xqzr _4VN_z">
                                            <div class="_3zqA8">
                                                <input type="checkbox" name="selectall" onclick='selectAll(this)'>
                                            </div>
                                            <span class="_1aN3J">
                                                <span class="commerce-cart__header__caption selectall">모두선택</span>
                                            </span>
                                        </label>
                                    </span>
                                    <span class="commerce-cart__header__right">
                                        <button class="selectDelete" id="selectDelete" value="delete" >선택삭제</button>
                                    </span>
                                </div>
                            </div>


                            <div th:each="data : ${carts}">
                                <ul class="commerce-cart__content__group-list" style="padding-left: 0px;" >
                                    <li class="commerce-cart__content__group-item">
                                        <article class="commerce-cart__group">
                                            <h1 class="commerce-cart__group__header sellerName">[[${data.name}]]</h1>
                                            <ul class="commerce-cart__group__item-list" style="padding-left: 0px;">
                                                <li class="commerce-cart__group__item">
                                                    <article class="commerce-cart__delivery-group">
                                                        <ul class="commerce-cart__delivery-group__product-list" style="padding-left: 0px; ">
                                                            <li class="commerce-cart__delivery-group__product-item">
                                                                <article class="carted-product">
                                                                    <div class="carted-product__select">
                                                                        <div class="_3zqA8">

                                                                            <input type="checkbox" name="selectNo"
                                                                                   th:value="${data.cartId}"
                                                                                   onclick='checkSelectAll()'>

                                                                        </div>
                                                                    </div>
                                                                    <a class="product-small-item product-small-item--clickable"
                                                                       th:href="@{${'/product/detail?productId=' + data.productId}}">
                                                                        <div class="product-small-item__image thumnailBox">
                                                                            <img class='imageLocation'
                                                                                 th:src="@{${'/display?fileName=' + data.mainImageUrl}}">
                                                                        </div>
                                                                        <div class="product-small-item__content" style="text-decoration: none;">
                                                                            <h1 class="product-small-item__title">
                                                                                [[${data.title}]]</h1>
                                                                        </div>
                                                                    </a>

                                                                    <ul class="carted-product__option-list" style="padding-left: 0px;">
                                                                        <li class="carted-product__option-list__item">
                                                                            <article class="selling-option-item">
                                                                                <div class="selling-option-item__controls">
                                                                                    <div class="selling-option-item__quantity">
                                                                                        <div class="input-group select-input option-count-input">

                                                                                            <span>수량 : </span>
                                                                                            <span class="qty">[[${data.quantity}]] </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p class="selling-option-item__price">
                                                                                        <span>단가 : </span> <span
                                                                                            class="selling-option-item__price__number unitPrice">[[${data.price}]]</span>원
                                                                                    </p>
                                                                                </div>
                                                                            </article>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="carted-product__footer">
                                                                    <span class="carted-product__subtotal">
                                                                        <span>총 상품 금액 : </span><span
                                                                            class="carted-product__subtotal__number totalSum">[[${data.price * data.quantity }]]</span>원</span>
                                                                    </div>
                                                                </article>
                                                            </li>
                                                        </ul>
                                                        <footer class="commerce-cart__delivery-group__footer">
                                                            <p class="commerce-cart__delivery-group__total ">배송비 :
                                                                <span class="delivery">[[${data.deliveryCharge}]]</span><span> 원</span>
                                                            </p>
                                                        </footer>
                                                    </article>
                                                </li>
                                            </ul>
                                        </article>
                                    </li>


                                </ul>
                            </div>


                        </div>

                    </div>

                    <div class="commerce-cart__side-bar-wrap col-12 col-md-5 col-lg-4">
                        <div data-sticky-enabled="false" data-sticky-disabled="false" data-sticky-always="false"
                             data-sticky-ignore="false" data-direction="top" data-offset="81"
                             class="sticky-container commerce-cart__side-bar-container"
                             style="position: sticky; top: 81px;">
                            <div class="sticky-child commerce-cart__side-bar" style="position: relative;">
                                <dl class="commerce-cart__summary commerce-cart__side-bar__summary">
                                    <div class="commerce-cart__summary__row">
                                        <dt>총 상품금액</dt>
                                        <dd><span class="number productTotalPrice">0</span>원</dd>
                                    </div>
                                    <div class="commerce-cart__summary__row">
                                        <dt>총 배송비</dt>
                                        <dd>+ <span class="number deliveryChargeTotal">0</span>원</dd>
                                    </div>
                                    <div class="commerce-cart__summary__row">
                                        <dt>총 할인금액</dt>
                                        <dd>- <span class="number discountTotal">0</span>원</dd>
                                    </div>
                                    <div class="commerce-cart__summary__row commerce-cart__summary__row--total">
                                        <dt>결제금액</dt>
                                        <dd><span class="number totalPayment">0</span>원</dd>
                                    </div>
                                </dl>
                                <div class="commerce-cart__side-bar__order">
                                    <button class="_1eWD8 _3SroY _27do9 commerce-cart__side-bar__order__btn"
                                            id="submitBtn" type="submit">
                                        구매하기
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- 페이지 하단 -->
<th:block th:include="/fragments/bottom.html"></th:block>

</body>

<script src="/js/cart/cartPage.js"></script>
<script src="/js/cart/clickListener.js"></script>


</html>