<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

                    <!--문의-->
                    <section class="production-selling-section" th:fragment="questionList">
                        <header class="production-selling-section__header" style="margin-bottom: 50px;">
                            <h1 class="production-selling-section__title">
                                <span class="production-selling-section__title" >문의</span>
                                <span class="count" th:text="${questionCnt}"></span>
                            </h1>
                            <div class="production-selling-section__right">
                                <button>문의하기</button>
                            </div>
                        </header>

                        <div class="production-question-feed" th:if="${questionCnt == 0}">
                           <div class="production-question-feed__list__empty">문의 내역이 없습니다.</div>
                        </div>

                        <div class="production-question-feed" th:unless="${questionCnt == 0}">
                            <div class="production-question-feed__list" >
                                <th:block th:each= "question : ${questionList}" >
                                <article class="production-question-feed__item" data-qna-id="3793373" style="margin-bottom: 40px;">
                                    <header class="production-question-feed__item__header" >
                                        <span class="production-question-feed__item__header_category" th:text="${question.questionCategoryName}" style="float: left;" ></span>
                                        <span class="" th:classappend="${question.questionState == '답변대기'}?'unanswered':'answered'" th:text="${question.questionState}" ></span>
                                    </header>
                                    <p class="production-question-feed__item__author" th:text="${question.userAccountId +' | '+question.questionDate}"></p>
                                    <!--질문-->
                                    <div class="production-question-feed__item__question">
                                        <span class="production-question-feed__item__badge">Q&nbsp;</span>
                                        <p class="production-question-feed__item__content" th:text="${question.questionContents}"></p>
                                    </div>
                                    <!--답변-->
                                    <th:block th:if="${question.answerId != null}">
                                    <div class="production-question-feed__item__answer">
                                        <span class="production-question-feed__item__badge">A&nbsp;</span>
                                        <p class="production-question-feed__item__answer__author">
                                            <span class="author" th:text="${question.sellerAccountId}" style="margin-right: 8px;"></span><span class="date" th:text="${question.answerDate}"></span>
                                        </p>
                                        <p class="production-question-feed__item__content" th:text="${question.answerContents}" style="margin-top: 5px;"></p>
                                    </div>
                                    </th:block>
                                </article>
                                </th:block>
                            </div>
                            <ul class="_2BEHX production-question__paginator">
                                <li>
                                    <button class="_3b4ci R16_p" type="button">1</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">2</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">3</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">4</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">5</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">6</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">7</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">8</button>
                                </li>
                                <li>
                                    <button class="_3b4ci" type="button">9</button>
                                </li>
                                <li>
                                    <button class="_2XI47 _3I7ex" type="button">
                                        <svg width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M6 19.692L8.25 22 18 12 8.25 2 6 4.308 13.5 12z"></path></svg>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </section>


</body>
</html>