<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/member/join.css"/>
</head>
<body>
<div>
  <section class="container user-sign-up">
    <a href="/store">
      <img src="../../img/redhome_kor.jpg" style="width: 100px; padding-left: 120px; align-self: center">
    </a>
    <div class="user-sign-up__form-wrap">
      <h1 class="user-sign-up__title">회원가입</h1>
      <div class="user-sign-up__sns">
      </div>
      <form class="user-sign-up__form" th:object="${member}" th:action method="post" name="frm">
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">아이디</div>
          <div class="user-sign-up-form__form-group__description">다른 유저와 겹치지 않는 아이디 입력해주세요.</div>
          <div class="user-sign-up-form__form-group__input">
              <div th:if="${#fields.hasGlobalErrors()}">
                  <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                     th:text="${err}">글로벌 오류 메시지</p>
              </div>

                <input type="text" placeholder="아이디" class="form-control" style="border-color: red;" value="" th:field="*{accountId}" th:errorclass="field-error">
              <div class="field-error" th:errors="*{accountId}"></div>

          </div>
        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">비밀번호</div>
          <div class="user-sign-up-form__form-group__description">8자 이상 입력해주세요.</div>
          <div class="user-sign-up-form__form-group__input">
            <input type="password" placeholder="비밀번호" class="form-control" value=""  th:field="*{memberPassword}" th:errorclass="field-error" name="password">
          </div>
            <div class="field-error" th:errors="*{memberPassword}"></div>
        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">비밀번호 확인</div>
          <div class="user-sign-up-form__form-group__input">
            <input type="password" placeholder="비밀번호 확인" class="form-control" value="" name="password2">
          </div>
        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">이름</div>
          <div class="user-sign-up-form__form-group__description">이름을 입력해주세요.</div>
          <div class="user-sign-up-form__form-group__input">
            <input placeholder="이름" class="form-control" value="" th:field="*{name}" th:errorclass="field-error" name="name">
          </div>
            <div class="field-error" th:errors="*{name}"></div>

        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">휴대폰번호</div>
          <div class="user-sign-up-form__form-group__input">
            <div class="input-group email-input">
                                <span class="email-input__local">
                                    <input class="form-control" size="1" value="010" name="tel1">
                                </span>
              <span class="email-input__separator">-</span>
              <span class="email-input__local">
                                    <input class="form-control" size="1" value="" name="tel2">
                                </span>
              <span class="email-input__separator">-</span>
              <span class="email-input__local">
                                    <input class="form-control" size="1" value="" name="tel3">
                                </span>
            </div>
          </div>
        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">이메일</div>
          <div class="user-sign-up-form__form-group__input">
            <div class="input-group email-input">
                                <span class="email-input__local">
                                    <input class="form-control" placeholder="이메일" size="1" value="" name="email" th:field="*{email}" th:errorclass="field-error">
                                </span>
              <span class="email-input__separator">@</span>
              <span class="email-input__domain">
                                    <select class="form-control empty" name="email2">
                                        <option value="" disabled="">선택해주세요</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="nate.com">nate.com</option>
                                        <option value="hotmail.com">hotmail.com</option>
                                        <option value="outlook.com">outlook.com</option>
                                        <option value="icloud.com">icloud.com</option>
                                        <option value="_manual">직접입력</option>
                                    </select>
                                    <button class="email-input__domain__expand" aria-label="초기화" type="button" tabindex="-1">
                                        <svg class="icon" width="10" height="10" preserveAspectRatio="xMidYMid meet" style="fill: currentcolor;"><path fill-rule="evenodd" d="M0 3l5 5 5-5z"></path></svg>
                                    </button>
                                </span>
            </div>
              <div class="field-error" th:errors="*{email}"></div>
          </div>
        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">주소</div>
          <div class="user-sign-up-form__form-group__description">주소를 입력해주세요.</div>
          <div class="user-sign-up-form__form-group__input">
            <input placeholder="주소" class="form-control" value="" th:field="*{address}" th:errorclass="field-error" name="address">
          </div>
            <div class="field-error" th:errors="*{address}"></div>
        </div>
        <div class="user-sign-up-form__form-group">
          <div class="user-sign-up-form__form-group__label">생년월일</div>
          <div class="user-sign-up-form__form-group__input">
            <div class="input-group email-input">
                                <span class="email-input__domain">
                                    <select class="form-control empty" name="birth1">
                                        <option value="" disabled="">선택해주세요</option>
                                            <option value="${i}">${i}</option>

                                    </select>
                                    <button class="email-input__domain__expand" aria-label="초기화" type="button" tabindex="-1">
                                        <svg class="icon" width="10" height="10" preserveAspectRatio="xMidYMid meet" style="fill: currentcolor;"><path fill-rule="evenodd" d="M0 3l5 5 5-5z"></path></svg>
                                    </button>
                                </span>
              <span class="email-input__separator">-</span>
              <span class="email-input__domain">
                                    <select class="form-control empty" name="birth2">
                                        <option value="" disabled="">선택해주세요</option>



                                    </select>
                                    <button class="email-input__domain__expand" aria-label="초기화" type="button" tabindex="-1">
                                        <svg class="icon" width="10" height="10" preserveAspectRatio="xMidYMid meet" style="fill: currentcolor;"><path fill-rule="evenodd" d="M0 3l5 5 5-5z"></path></svg>
                                    </button>
                                </span>
              <span class="email-input__separator">-</span>
              <span class="email-input__domain">
                                    <select class="form-control empty" name="birth3">
                                        <option value="" disabled="">선택해주세요</option>

                                    </select>
                                    <button class="email-input__domain__expand" aria-label="초기화" type="button" tabindex="-1">
                                        <svg class="icon" width="10" height="10" preserveAspectRatio="xMidYMid meet" style="fill: currentcolor;"><path fill-rule="evenodd" d="M0 3l5 5 5-5z"></path></svg>
                                    </button>
                                </span>
            </div>
          </div>
        </div>

        <button class="user-sign-up__submit" type="button" th:type="submit">회원가입 완료</button>
      </form>
      <p class="user-sign-up__sign-in">이미 아이디가 있으신가요?<a href="/login" class="user-sign-up__sign-in__link">로그인</a></p>
    </div>

  </section>

</div>

</body>
</html>