<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/main/banner.css" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/main/banner.js}"></script>
</head>
<body>

<!--배너-->

<div id="slider-wrap">
  <ul id="slider">
    <li>
      <img src="../../img/banner/banner_img1.webp?">
    </li>

    <li>
      <img src="../../img/banner/banner_img2.webp?">
    </li>

    <li>
      <img src="../../img/banner/banner_img3.webp?">
    </li>

    <li>
      <img src="../../img/banner/banner_img4.webp?">
    </li>

    <li>
      <img src="../../img/banner/banner_img5.webp?">
    </li>

    <li>
      <img src="../../img/banner/banner_img6.webp?">
    </li>
  </ul>

  <div class="slider-btns" id="next"><span>▶</span></div>
  <div class="slider-btns" id="previous"><span>◀</span></div>

  <div id="slider-pagination-wrap">
    <ul>
    </ul>
  </div>
</div>

</body>
</html>