<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/main/banner.css" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/main/banner.js}"></script>
</head>
<body>

<!--배너-->

<div id="slider-wrap">
  <ul id="slider">
    <li>
      <img src="/img/banner/main_banner.jpg">
    </li>

    <li>
      <img src="/img/banner/banner1.WEBP">
    </li>

    <li>
      <img src="/img/banner/banner2.jpg">
    </li>

    <li>
      <img src="/img/banner/banner3.jpg">
    </li>

    <li>
      <img src="/img/banner/banner4.jpg">
    </li>

    <li>
      <img src="/img/banner/banner5.jpg">
    </li>

    <li>
      <img src="/img/banner/banner6.jpg">
    </li>

    <li>
      <img src="/img/banner/banner7.jpg">
    </li>
  </ul>

  <div class="slider-btns" id="next"><span>▶</span></div>
  <div class="slider-btns" id="previous"><span>◀</span></div>

  <div id="slider-pagination-wrap">
    <ul>
    </ul>
  </div>
</div>

</body>
</html>