<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/main/banner.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main/top.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main/bottom.css"/>
    <link rel="stylesheet" href="../../css/selectbox.min.css?">
    <script th:src="@{/js/selectbox.min.js}"></script>
    <script th:src="@{/js/main/top.js}"></script>
    <script type="text/javascript" th:src="@{/js/main/banner.js}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>
<body>

<!-- 페이지 상단 -->
<header th:replace="/fragments/top.html :: top"></header>


<!--배너-->
<div>
    <div id="popup" class="popout popout--prepared popout--axis-1 popout--dir-0 popout--cross-dir-2" data-popout="true"
         style="position: absolute; z-index: 1000; right: 230px; bottom: 380px; display: none;">
        <div class="animated-popout drop-down__content layout-navigation-bar-user-section__content open open-active">
            <ul class="layout-navigation-bar-user-menu">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                    <a class="layout-navigation-bar-user-menu__item" href="/mypage">마이페이지</a>
                </li>
                </li>
                <li class="layout-navigation-bar-user-menu__item-wrap">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                    <a class="layout-navigation-bar-user-menu__item" href="/user_shopping_pages/order_list">나의 쇼핑</a>
                </li>
                </li>
                <li class="layout-navigation-bar-user-menu__item-wrap">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                    <a class="layout-navigation-bar-user-menu__item" href="/competitions/feed">이벤트</a>
                </li>
                </li>
                <li class="layout-navigation-bar-user-menu__item-wrap">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                    <a class="layout-navigation-bar-user-menu__item"
                       href="https://pro.ohou.se/?utm_source=ohouse&amp;utm_medium=web&amp;utm_campaign=prosignup&amp;utm_content=myhome">전문가
                        신청</a>
                </li>
                </li>
                <li class="layout-navigation-bar-user-menu__item-wrap">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                    <a class="layout-navigation-bar-user-menu__item" href="/partner/applications/new">판매자 신청</a>
                </li>
                </li>
                <li class="layout-navigation-bar-user-menu__item-wrap">
                <li class="layout-navigation-bar-user-menu__item-wrap">
                    <button class="layout-navigation-bar-user-menu__item" type="button" onclick="logOut()">로그아웃</button>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="slider-wrap">
    <ul id="slider">
        <li>
            <img src="../../img/banner/banner_img1.webp?">
        </li>

        <li>
            <img src="../../img/banner/banner_img2.webp?">
        </li>

        <li>
            <img src="../../img/banner/banner_img3.webp?">
        </li>

        <li>
            <img src="../../img/banner/banner_img4.webp?">
        </li>

        <li>
            <img src="../../img/banner/banner_img5.webp?">
        </li>

        <li>
            <img src="../../img/banner/banner_img6.webp?">
        </li>
    </ul>

    <div class="slider-btns" id="next"><span>▶</span></div>
    <div class="slider-btns" id="previous"><span>◀</span></div>

    <div id="slider-pagination-wrap">
        <ul>
        </ul>
    </div>
</div>


<!--제품 리스트-->


<!-- 페이지 하단 -->
<footer th:replace="/fragments/bottom.html :: bottom"></footer>

</body>
</html>